@using GR_30321_Hasanov_Lb_3_Domain.Models
@model ProductListModel<GR_30321_Hasanov_Lb_3_Domain.Entities.Perfume>

@{
    ViewData["Title"] = "Index";
    var request = ViewContext.HttpContext.Request;
    var returnUrl = request.Path + request.QueryString.ToUriComponent();
    var brands = ViewData["brands"] as IEnumerable<GR_30321_Hasanov_Lb_3_Domain.Entities.Brand>;
    var currentBrand = ViewData["currentBrand"] as string;

    string? brand = request.RouteValues["brand"]?.ToString();
}

<h1>Летуаль</h1>

<!-- выбор бренда -->
<div class="col-2 border-2">
    <ul class="nav ">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               data-bs-toggle="dropdown"
               href="#"
               role="button"
               aria-expanded="false">
                @currentBrand
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item"
                       asp-controller="product"
                       asp-route-brand=@null>Все</a>
                </li>
                @foreach (var item in brands)
                {
                    <li>
                        <a class="dropdown-item"
                           asp-controller="product"
                           asp-route-brand="@item.NormalizedName">
                           @item.Name
                        </a>
                    </li>
                }
            </ul>
        </li>
    </ul>
</div>
<!-- выбор бренда -->

@if (Model != null)
{
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            @foreach (var item in Model.Items)
            {
                <partial name="_ProductItemPartial" model="@item"/>
            }
        </div>
        <!-- row -->
    </div>
    <!-- container -->
}

<pager current-page="@Model.CurrentPage"
       total-pages="@Model.TotalPages"
       action="Index"
       controller="Product"
       brand="@brand">
</pager>

<h2 class="text-warning">@ViewData["Error"]</h2>

<style>
    .card-img-container {
        width: 100%;
        height: 200px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-img-top {
        height: 100%;
        width: auto;
        object-fit: cover; /* Для обрезки и сохранения пропорций */
    }
</style>
